/*background-color for body? rgb(27, 27, 27)*/

body {
    background-color: rgb(36, 35, 35);
    font-family: 'Press Start 2P', cursive;
    font-size: 15pt;
    color: rgb(84, 124, 20);
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow-wrap: break-word;
}

.timer__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /*border: solid 4px greenyellow;*/
    
}

h1.title {
 font-size: 30pt;
 text-align: center;
 padding: 1%;
    
}

input[name=minutes] {
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    color: rgba(84, 124, 20, .8);
    caret-color: rgb(105, 150, 33); 
    padding: 7px;
    border: solid 2px rgb(84, 124, 20);
    border-radius: 2.5%;
    background-color: transparent;
    margin-bottom: 7%;
    
}

.display {
    width: auto;
    
    margin: 3%;
}

.display__time-left {
    text-align: center;
}

.para {
    margin: 1% 2%;
    font-size: 13pt;
}

button {
    width: 100%;
    font: inherit;
    background-color: transparent;
    height: 60px;
    font-size: inherit;
    border-radius: 3.75%;
    border: solid 3px rgb(84, 124, 20);
    color: rgb(84, 124, 20);
    margin-bottom: 4%;

}

button:active {
    animation: pulse 0.26s;
    -webkit-animation: pulse 0.26s;
    -moz-animation: pulse 0.26s;
}

@keyframes pulse {
    0% {
        box-shadow: rgba(84, 124, 20, 0) 0 0 0 0;
        transform: scale(1);
    }

    50% {
        box-shadow: rgba(84, 124, 20, .8) 0 0 0px 5px;
        transform: scale(1.025);
    }

    75% {
        box-shadow: rgba(84, 124, 20, 1) 0px 15px;
        transform: scale(1.1);
    }

    100% {
        box-shadow: rgba(84, 124, 20, 1) 0px 30px;
        transform: scale(1.15);
    }
}

   


/*** Media Queries ***/

@media screen and (min-width: 600px){
    h1.title {
        font-size: 43pt;  
    }

    h1.display__time-left {
        font-size: 48pt;
    }

    .para {
        font-size: 17pt;
    }


    .timer__controls {
        display: unset;
        justify-content: unset;
        align-items: unset;
        /*border: solid 4px greenyellow;*/
        
    }

    form[name=customForm] {
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-flow: row wrap;
        margin: 3%;
        font-size: 20pt;
    }

    input[name=minutes] {
        align-self: baseline;
        margin-top: 3%;   
    }

  
    button {
        width: 40%;
        height: 65px; 

    }

   

    


}

@media screen and (min-width: 900px) {

    h1.title {
        font-size: 48pt;
    }

    h1.display__time-left {
        font-size: 56pt;
    }
}


